wifi_ssid: "NamaWiFi"
wifi_password: "password-wifi"
ap_password: "password-fallback-min-8-karakter"
# 32 byte, Base64. Generate: openssl rand -base64 32
api_encryption_key: "ganti-dengan-output-openssl"
